{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" 
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous" 
defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous" 
defer></script>
<script src="{% static 'js/login/login.js'  %}" defer></script> 
<link rel="stylesheet" href="{% static 'css/login/login.css'  %}" />
{% endblock %}

{% block content %}

	<form action="" method=POST>
    {% csrf_token %}
    <h2><span class="entypo-login"><i class="bi bi-box-arrow-in-right"></i> </span> Login</h2>
    <span class="entypo-user inputUserIcon">
      <i class="bi bi-person-fill" style="font-size: 1.8rem;"></i>
     </span>
    <input type="text" class="user" placeholder="ursername" name="matricule"/>
    <span class="entypo-key inputPassIcon"> 
      <i class="bi bi-key-fill" style="font-size: 1.8rem;"></i>  
    </span>
    <input type="password" class="pass" placeholder="password" name="password"/>
    <button class="submit">
      <!-- <span class="icon-container"> -->
      <i class="bi bi-lock-fill"> Connexion </i>
      <i class="bi bi-unlock-fill"> Connexion </i>
      <!-- </span> -->
    </button>
	</form>

{% endblock %}