{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css'  %}" />
<link rel="stylesheet" href="{% static 'css/dashboard/csv/csv.css'  %}" />
<link rel="stylesheet" href="{% static 'css/dashboard/graphic/graphic.css'  %}" />
<script src="{% static 'js/custom-file-input.js' %}" defer></script>
{% endblock %}

{% block content %}

<h1></h1>
<div class="tabs">
  
  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab2" name="tab-control">
  <input type="radio" id="tab3" name="tab-control">  
  <input type="radio" id="tab4" name="tab-control">
  <ul>
    <li title="Features">
        <label for="tab1" role="button">
            <svg viewBox="0 0 24 24">
                <path d="M13,20H6a1,1,0,0,1-1-1V5A1,1,0,0,1,6,4h5V7a3,3,0,0,0,3,3h3v2a1,1,0,0,0,2,0V9s0,0,0-.06a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19.32.32,0,0,0-.09,0A.88.88,0,0,0,12.05,2H6A3,3,0,0,0,3,5V19a3,3,0,0,0,3,3h7a1,1,0,0,0,0-2ZM13,5.41,15.59,8H14a1,1,0,0,1-1-1ZM8,8a1,1,0,0,0,0,2H9A1,1,0,0,0,9,8Zm6,4H8a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Zm6.71,5.29-2-2a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21l-2,2a1,1,0,0,0,1.42,1.42l.29-.3V21a1,1,0,0,0,2,0V18.41l.29.3a1,1,0,0,0,1.42,0A1,1,0,0,0,20.71,17.29ZM12,18a1,1,0,0,0,0-2H8a1,1,0,0,0,0,2Z"/>
            </svg><br>
            <span>CSV</span>
        </label>
    </li>
    <li title="Graphique">
        <label for="tab2" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> 
                <g> 
                    <path fill="none" d="M0 0h24v24H0z"/> 
                    <path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h16V5H4zm3 8h2v4H7v-4zm4-6h2v10h-2V7zm4 3h2v7h-2v-7z"/> 
                </g> 
            </svg> <br>
            <span>Graphique</span>
        </label>
    </li>
  </ul>
  
  <div class="slider"><div class="indicator"></div></div>
  <div class="content">
    <section>
      {% include 'dashboard/section/csv.html' %}
    </section>
    <section>
      {% include 'dashboard/section/graphic.html' %}
    </section>
  </div>
</div>


{% endblock %}