.container-main{
    background-color: black;
    margin: 5px;
}

.container-main > *{
  margin: 5px;
}

.container-bgraph{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

}

.container-callgraph{
  background-color: bisque;
  
}

.container-optiongraph{
    background-color:darkkhaki;  
}

.container-graphic{
    background-color:beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-graphic > *{
    max-height: 600px;
}


.main-g{
  background-color: orange;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-g{
  background-color: green;
  width: 40%;
}